.criminalsList, .witnessList, .facilitiesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.criminal__card, .witness__card, .facility__card{
    border: 1px dotted black;
    margin: 1rem;
    padding: 0.5rem;
    flex-basis: 25%;
}

.criminal__name {
    font-size: 18px;
}

.officersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.officer__card {
    border: 1px dotted black;
    margin: 1rem;
    padding: 0.5rem;
    flex-basis: 25%;
}

.officer__name {
    font-size: 18px;
}

.investigation {
    display: flex;
}

.caseDataContainer {
    flex: 3;
}

.notesContainer {
    flex: 1;
}

.note__card {
    border: 1px dotted black;
    margin: 1rem;
    padding: 0.5rem;
}